body {
    background-image: url(https://i.postimg.cc/fLSx3Q6B/4325792.webp);
}

h1 {
    
    color: white;
    margin-left: 43%;
}

img {
    margin-left: 30%;
    margin-top: 5%;
}

button {
    margin-left: 48%;
    margin-top: 5%;
    padding: 1%
}
h2 {
    color: rgb(72, 175, 151);
    background-color: black;
    text-align: center;
}

@media screen and (max-width: 414px){
    body {
        background-color: black;
        background-image: none;
       
    }
    
    img {
        padding-right:  25%;
        width: 75%;
    }
    h2 {
        text-align: center;
         }
}